@bgcolor: #2E2E2E;
@lightyellow: #EAF2D9;
//@headerbg : #23363D;
//@titlecolor : #73B8C3;
//@headerbg: #191919;
//@titlecolor: #223E6B;
@headerbg: #ECEDD5;
@titlecolor: #B52626;
@lightblue : #23363D;
@lightgreen: #B2E573; // maybe for code highlight
@darkorange: #B28600; // maybe for code highlight
@darkyellow: #D9BF8C; //maybe for code highlight
@orange: #B35E4D; //maybe for code highlight
@darkblue: #669991; //maybe for code highlight
@codebg: #191919;


/* embedding some fonts */
@font-face {
  font-family: AsianGuy;
  src: url(../fonts/AsianGuy.ttf);
}

@font-face {
  font-family: KoreanCalligraphy;
  src: url(../fonts/Korean_Calligraphy.ttf);
}

.box-shadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.rounded-bottom-corners (@radius: 5px) {
  border-bottom-left-radius: @radius;
  border-bottom-right-radius: @radius;
  -moz-border-radius-bottomright: @radius;
  -moz-border-radius-bottomleft: @radius;
  -webkit-border-bottom-left-radius: @radius;
  -webkit-border-bottom-right-radius: @radius;
}

.rounded-top-corners (@radius: 5px) {
  border-top-left-radius: @radius;
  border-top-right-radius: @radius;
  -moz-border-radius-topright: @radius;
  -moz-border-radius-topleft: @radius;
  -webkit-border-top-left-radius: @radius;
  -webkit-border-top-right-radius: @radius;
}

body {
  background-color: @bgcolor;
  a:link, a:visited, a:hover {
    color: @lightyellow;
  }
}

ol {
  list-style-type: decimal;
  li {

  }
}

ul {
  list-style-type: disc;
  li {
    margin-left: 20px;
  }
}

.top-bottom {
  width: 80%;
  margin: 0px auto;
  background-color: @headerbg;
  font-family: Droid Serif, serif;
  color: @titlecolor;
  padding: 5px 0px;
  text-shadow: -1px 1px 1px #000;
}

div#header {
  .rounded-top-corners;
  .top-bottom;
  //background-image: url('../assets/crouch-ninja.png');
  //background-position: right;
  //background-origin: padding-box;
  //background-repeat: no-repeat;
  //background-clip: padding-box;
  //-webkit-background-clip: padding-box;
}

div#title {
  padding-left: 20px;
  h1 {
  	font-family: AsianGuy, Droid Serif, serif;
  	font-size: 48pt;
  }
  h5 {
  	font-family: KoreanCalligraphy, Droid Serif, serif;
    font-size: 14pt;
  }
}

div#footer {
  .rounded-bottom-corners;
  .top-bottom;
}

div#copyright {
  p {
  	font-family: KoreanCalligraphy, Droid Serif, serif;
    font-size: 14pt;
  }
}

@shadow: inset 0px 3px 5px 0px @headerbg;
.boxshadow {
  -moz-box-shadow: @shadow;
  -webkit-box-shadow: @shadow;
  box-shadow: @shadow;
}

div#container {
  margin: 0px auto;
  width: 80%;
}

div#content {
  .boxshadow;  
  float: left;
  padding-top: 10px;
  width: 100%;
}

div#articles {
  
}

div#sidebar {
  .boxshadow;
  float: right;
  width: 20%;
}

article {
  font-family: Droid Serif, serif;
  font-weight: normal;
  font-size: 13pt;
  color: @lightyellow * .7;
  padding: 10px;
  header {
    font-size: 10pt;
    padding-bottom: 10px;
  }
  article section.content {
  }
  h3.article-title {
    font-size: 22pt;
    text-shadow: -1px 1px 1px #000; 
    color: @lightyellow;
  }
  h3.header {
    font-size: 22pt;
    text-shadow: -1px 1px 1px #000; 
    color: @lightyellow;
    a:link,a:visited {
      text-decoration: none;
    }
    a:hover {
      color: @orange;
    }
  }
}

.update-time {
  font-size: 12px;
  font-family: 'Droid Sans Mono';
  font-weight: normal;
}

pre.command {
  .gist .gist-file; 
  margin: 10px;
}


.gist .gist-file {
  border: 0px;
  color: @lightyellow * .7 !important;
  box-shadow: #000 -2px 2px 2px 2px;
  background-color: #191919 !important;
  width: 800px;
  margin: 0px auto;
}

.gist .gist-file .gist-syntax {
  border: 0px;
  background-color: #191919 !important;
}

.normal {
  font-weight: normal;
}

.gist .gist-file .gist-highlight {
  background-color: #191919 !important;
  color: @lightyellow * .7 !important;
  font-family: 'Droid Sans Mono' !important;
  font-weight: normal !important;
  .gist-syntax .nc {color: #353535}
  .o,.nt {color: @orange; .normal;}
  .k {color: @darkyellow; .normal;}
  .p {color: @lightgreen; .normal;}
  .n {color: @lightyellow; .normal;}
  pre {
    padding: 0px !important;
  }
}
  .gist-meta {
    display:none;
  }

